@charset "utf-8";
<!--mainpageテーブルレイアウト-->
#table-main{
border:1px #f0f8ff solid;
border-collapse:collapse;
border-spacing:0;
}


<!--mainpageつぶやき枠レイアウト-->
input.input_style{
	width:100%;
	height:3em;
}
input.input_button{
	width:7em;
	height:3em;
}

.maintwitline {
	margin-top: 100px;
	padding:20px;
	width:940px;
	margin-right:auto;
	margin-left:auto;
	background-color:#468A6F;
}

.sidebar{

}

<!--パスワード強度用-->
#psContainer{
	height:18px;
	width:100px;
	border:1px solid #000;
	background-color:#DDDDDD;
}

#psStrength{
	background-image:url('../img/strength.jpg');
	height:18px;
	width:0px;
}


<!--bootStrap用レイアウト-->

