@CHARSET "UTF-8";

body {
	background:#1F3D31;
	margin: 25px;
}

table{
	width: 80%;
	background-color: #EBEBEB;
}
td.contents {
	background-color: #ffffff;
	padding: 25px 25px 25px 25px;

}
.dropDownMenu{
	position: absolute;
	background-color: #FFFFFF;
	width:150px;
	height:100px;
	margin-top: 0px;
	margin-left:400px;
	padding:10px;
	border-style:solid;
	border-color:#b0e0e6;
	border-width:1px;

	border-radius: 5px;         /* CSS3 */
	-moz-border-radius: 5px;    /* Firefox */
	-webkit-border-radius: 5px; /* Safari,Chrome */
}
td.menu {
	background-color: #ffffff;
	width: 25%;
}


.tuserMain{
	padding-bottom:20px;
	padding-top:5px;

	border-radius: 5px;         /* CSS3 */
	-moz-border-radius: 5px;    /* Firefox */
	-webkit-border-radius: 5px; /* Safari,Chrome */
}

.followButton{
	display: inline-block;
	_display: inline;

	position: absolute;
	margin-top: -40px;
	margin-left:400px;

}
.followButton{
	display: inline-block;
	_display: inline;

	position: absolute;
	margin-top: -40px;
	margin-left:400px;

}

.twitmain{

	background-color:#F4F4F4;
	padding:10px;
	padding-bottom:5px;
	margin-bottom:0px;
	margin-top:0px;
}

.pImg{
	float:left;
	margin-left:10px;
	margin-right:10px;
}

.newTwitTime{
	margin-left:70px;
	font-size:x-small;
	color:#bb9875;
}

p.timeLine_border{
	border-bottom: 1px solid #dddddd;
	margin:0px;
}
